/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
    background: #5372F0;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
    padding: 35px;
    max-width: 1000px;
    border-radius: 13px;
    background: #FFF;
}

.wrapper .icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 120px;
}

.icon:first-child {
    left: 0;
    display: none;
    background: linear-gradient(-90deg, #FFF 70%, transparent);
}

.icon:last-child {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(-90deg, #FFF 70%, transparent);
}

.icon i {
    cursor: pointer;
    text-align: center;
    width: 55px;
    height: 55px;
    font-size: 1.2rem;
    line-height: 55px;
    border-radius: 50%;
}

.icon i:hover {
    background: #efedfb;
}

.icon:first-child i {
    margin-left: 15px;
} 

.icon:last-child i {
    margin-right: 15px;
}

.wrapper .tabs-box {
    display: flex;
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 12px;
}

.tabs-box.dragging {
    scroll-behavior: auto;
    cursor: grab;
}

.tabs-box .tab {
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.18rem;
    padding: 13px 20px;
    border-radius: 30px;
    border: 1px solid #D8D5F2;
}

.tabs-box .tab:hover{
    background: #efedfb;
}

.tabs-box.dragging .tab {
    user-select: none;
    pointer-events: none;
}

.tabs-box .tab.active{
    color: #fff;
    background: #5372F0;
    border-color: transparent;
}