* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.upload-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

.upload-title {
    font-size: 14px;
    font-weight: 600;
    color: #57534E;
}

.upload-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    border: 2px dashed #D6D3D1;
    border-radius: 10px;
    background-color: #FAFAFA;
    cursor: pointer;
    transition: border-color 0.3s;
}

.upload-icon {
    width: 40px;
    opacity: 0.5;
    margin-bottom: 10px;
}

.upload-text {
    font-size: 16px;
    color: #A8A29E;
}

.file-input {
    display: none;
}

.upload-box:hover {
    border-color: #A0A0A0;
}
