* { box-sizing: border-box; }

body { font-family: Arial, sans-serif; background-color: #2d2d2d;}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.slide {
    display: none;
}

img {
    vertical-align: middle;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

/* Botões de navegação */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    padding: 16px;
    background-color: #2d2d2d;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0px;
    left: 16px;
    /* width: 100%; */
    /* text-align: center; */
    align-items: center;
}

.number-text {
    padding: 16px;
    background-color: #2d2d2d;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 16px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #3D634D;
}

.image {
    width: 100%;
}

.dot-container {
    margin-top: 30px;
    text-align: center;
}
  