body {
    background-color: lightblue;
    font-family: Arial;
    font-size: 20px;
    text-align: justify;
}

h1 {
    text-align: justify;
    color: darkblue;
}

h2 {
    text-align: justify;
    color: darkcyan;
}

p {
    text-align: justify;
}